/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Général */
body {
    font-family: Arial, sans-serif;
    color: black;
    line-height: 1.6;
    background: #f9f9f9;
}

/* Header */
.header {
    background: #3b3020;
    color: white;
    text-align: center;
    padding: 2em 0;
}

.header-content {
    margin: 0 auto;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1em;
    border: 4px solid #fff;
}

h1 {
    font-size: 2em;
    margin: 0.2em 0;
}

/* Conteneur du texte avec animation machine à écrire */
.job-title {
    font-family: "Courier New", Courier, monospace; /* Police de style machine à écrire */
    font-size: 1em;
    margin: 0.5em 0;
    color: black; /* Écriture noire */
    font-weight: bold; /* Texte en gras */
    background-color: white; /* Fond blanc */
    border: 3px solid #e4d4c4; /* Bordure rose */
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    overflow: hidden; /* Cache le texte lors de l'animation */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    width: 30ch; /* Ajustez cette valeur à la longueur du texte */
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* Animation de frappe du texte */
@keyframes typing {
    from { clip-path: inset(0 100% 0 0); } /* Cache le texte */
    to { clip-path: inset(0 0 0 0); } /* Révèle le texte progressivement */
}

/* Animation du curseur clignotant */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    color: white;
    font-size: 1.7em;
}

h2 {
    color: #3b3020;
    margin-bottom: 20px;
    text-align: center;
}

/* À propos de moi */
.about-me {
    background-color: #ffffff;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:100%;
}

.about-me p {
    font-size: 1.1em;
    line-height: 1.8;
}

/* Compétences */
.skills {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

.circle-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3em;
}

.rotating-circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-item {
    position: absolute;
    text-align: center;
    transition: transform 0.3s;
}

.skill-item p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #3b3020;
}

/* Animation de rotation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-circle.rotate {
    animation: rotate 2s linear infinite;
}


/* Projets */
.projects {
    background-color: #ffffff;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:100%;

}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-item a {
    text-decoration: none; /* Supprime le soulignement */
    color: #000; /* Définit la couleur du texte en noir */
    transition: color 0.3s ease; /* Ajoute une transition pour l'effet hover */
}

.project-item a:hover {
    color: #2c3e50; /* Change légèrement la couleur au survol pour un effet visuel */
}

.project-item {
    background-color: #e4d4c4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #3b3020;
}

.project-item p {
    font-size: 0.95em;
    padding: 0 10px 20px;
    color: black;
}

.projects-btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #3b3020;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top:3em;
    
    /* Centrer le bouton */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.projects-btn:hover {
    background-color: #34495e;
}

/* Parcours */
.experience {
    background-color: #f9f9f9;
    padding: 40px 20px;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

h2 {
    text-align:center;
}

/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    width: 90%; /* Utilisation de 90% de la largeur de l'écran pour plus de flexibilité */
    max-width: 800px; /* Limite la largeur à 800px */
    margin: 0 auto; /* Centre la timeline */
}

.timeline-item {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

.timeline-item h3 {
    font-size: 1.2em;
    color: #3b3020;
    margin-bottom: 10px;
    text-align:center;
}

.timeline-item p {
    font-size: 0.9em;
    margin: 0 0 10px;
    color: #3b3020;
    text-align:center;
}

.timeline-item ul {
    font-size: 0.9em;
    color: black;
    text-align:left;
}

/* CV */
.cv {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #3b3020;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #34495e;
}

/* Footer */
.footer {
    background-color: #3b3020;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
